<h1>Список дел</h1>
<form id="todoForm">
  <input type="text" id="todoInput" placeholder="Введите новое дело" required />
  <button type="submit">Добавить</button>
</form>
<ul id="todoList" class="todo-list"></ul>

<section>
  <div>
    <section>
      <a href="/brands/add">Добавить бренд</a>
      <a href="/brands/list">Список брендов</a>
    </section>
    <section>
      <a href="/categories/add">Добавить категорию</a>
      <a href="/categories/list">Список категорий</a>
    </section>
    <section>
      <a href="/order-items/add">Добавить товар заказа</a>
      <a href="/order-items/list">Список товаров заказа</a>
    </section>
    <section>
      <a href="/orders/add">Добавить заказ</a>
      <a href="/orders/list">Список заказов</a>
    </section>
    <section>
      <a href="/users/add">Добавить пользовотеля</a>
      <a href="/users/list">Список пользовотелей</a>
    </section>
  </div>
</section>