<section id="services-offered">
  <h2>Наши услуги</h2>
  <ul>
    <li><strong>Продажа гитар:</strong> Широкий ассортимент акустических и электрогитар от ведущих производителей.</li>
    <li><strong>Обслуживание и настройка инструментов:</strong> Мы предлагаем услуги по настройке и ремонту гитар.</li>
    <li><strong>Консультации и мастер-классы:</strong> Наши эксперты проводят индивидуальные консультации и мастер-классы по игре на гитаре.</li>
    <li><strong>Аксессуары:</strong> Продажа струн, чехлов, медиаторов и других необходимых аксессуаров.</li>
  </ul>
</section>

<section id="custom-orders">
  <h2>Индивидуальные заказы</h2>
  <p>Мы также предоставляем возможность заказать уникальные гитары, выполненные по вашему дизайну и предпочтениям. Свяжитесь с нами для обсуждения деталей.</p>
</section>

<section>
  <h2>Пройди наш классный тест и получи шанс выиграть скидку</h2>
  <div class="controls">
    <button class="start-quiz">Начать тест про гитары</button>
  </div>

  <script src="scripts/vx.js"></script>
</section>