{{#if isAuthorized}}
  <h2>Добро пожаловать, {{username}}!</h2>
  <p>Вы авторизованы в магазине гитар 🎸</p>
{{else}}
  <h2>Войти в аккаунт</h2>
  <form method="GET" action="/">
    <div>
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit">Войти</button>
    </div>
  </form>

  {{#if username}}
    <p style="color:red;">Неверный логин или пароль</p>
  {{/if}}

{{/if}}