{{#each orderItems}}
  <div>
    Позиция #{{this.id}} ({{this.quantity}} шт.)
    <a href="/order-items/{{this.id}}/edit">Изменить</a>
    <form action="/order-items/{{this.id}}/delete" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Удалить</button>
    </form>
  </div>
{{/each}}