<form action="/categories/{{category.id}}/update" method="POST">
  <input type="text" name="name" value="{{category.name}}" required>
  <textarea name="description">{{category.description}}</textarea>
  <button type="submit">Обновить</button>
</form>