<form action="/brands/{{brand.id}}/update" method="POST">
  <input type="text" name="name" value="{{brand.name}}" required>
  <input type="text" name="logoUrl" value="{{brand.logoUrl}}">
  <button type="submit">Обновить</button>
</form>